@model IEnumerable<HubGrubv2.Models.RestaurantModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Restuarants</h1>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RestuarantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantApps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantEntrees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantDeserts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RestaurantDrinks)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestuarantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantApps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantEntrees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantDeserts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantDrinks)
            </td>
        </tr>
     }
</table>

