@model IEnumerable<HubGrubv2.Models.RestaurantModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Restuarants</h1>
<body>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantPhoneNumber)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RestaurantPhoneNumber)
                </td>
            </tr>
            <li>
                <a asp-action="Index" asp-controller="Dish">Menu</a>
            </li>
        }
    </table>
 </body>

